<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440451867284-0fnbnt92imvpidvirisa5v6q2urpe10i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440451867284-0fnbnt92imvpidvirisa5v6q2urpe10i</string>
	<key>API_KEY</key>
	<string>AIzaSyChf66DyefiLEeMQ_tTKZ-j4lGd55AkAQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>440451867284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IvanBiriukov</string>
	<key>PROJECT_ID</key>
	<string>authapp-57a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-57a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440451867284:ios:26503f27dfed04ce438a81</string>
</dict>
</plist>